.App {
  text-align: center;
}
/* 컴포넌트-클래스 형태로 중복되지 않게 작성  */
.App-logo {
  height: 10vmin;
  pointer-events: none;
}

/* CSS Selector  특정 클래스 내부에서만 동작*/
.App .logo {
  height: 5vmin;
  pointer-events: none;
}

.react {
  background: aqua;
  color: black;
  font-size: 17px;
  font-weight: bold;
  padding: 16px;
}

.success {
  background-color: lightgreen;
}
.failure {
  background-color: lightcoral;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
